/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
}

.main-container {
    display: flex;
    flex-flow: column;
    margin: auto;
    padding: 0px 50px;
    max-width: 1440px;
}

h1 {
    font-size: 1.375rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.upper-section {
    margin-top: 0px;
}

/******* Search section *************/

.search-section {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin: 2rem;
    margin-left: 0;
}

.position {
    color: black;
    background-color: var(--main-bg-color);
    padding: 0rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.search-text {
    border: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--main-color);
    align-items: center;
    padding: 16px 18px;
    color: white;
    font-weight: 700;
    font-size: 1.125rem;
}

section {
    margin: 15px;
}

.section-title {
    font-size: 1.375rem;
    margin-bottom: 10px;
}

/******* Filter section *************/

.filter-title {
    font-size: 1.125rem;
    margin-right: 15px;
}

.filter-buttons {
    display: flex;
    font-size: 1rem;
    align-content: center;
}

.filter-buttons i {
    transform: scale(1.4);
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
}

.info {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.circling {
    font-size: 0.7rem;
    border: 2px solid #d9d9d9;
    padding: 0.5rem 0.7rem;
    border-radius: 50%;
}

/******* Global card layout *************/

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 700;
}

.card-subtitle {
    margin: 3px 0px;
}

.card-content {
    display: flex;
    flex-flow: column;
}

.card-txt {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.euro {
    font-weight: 600;
}

.neutral-star {
    color: var(--main-bg-color);
}


/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-right: 0px;
    align-items: stretch;
}

.hebergements-and-populaires .section-title {
    padding: 5px 0px;
}

.card-content {
    padding-top: 5px;
}

/****** Hebergements ***********/

.hebergements {
    padding-left: 30px;
    padding-right: 30px;
    width: 65%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hebergements-cards img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 2 / 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-rating {
    box-sizing: border-box;
    transform: scale(1.2);
    position: relative;
    left: 10%;
    bottom: 10%;
    letter-spacing: -1px;
}

.show-more {
    display: flex;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 20px 0px;
}

/****** Populaires ***********/

.populaires-header {
    font-size: 1.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.populaires-header i {
    vertical-align: bottom;
}

.populaires-cards .card {
    display: flex;
    margin: 0px 30px 30px 30px;
    max-height: 140px;
}

.populaires-cards .card-title {
    margin-top: 0px;
}

.populaires-cards .card-subtitle {
    margin-bottom: 7px;
}

.populaires-cards img {
    width: 33%;
    aspect-ratio: 1 / 2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/****** Activites ***********/

.activites {
    margin: 40px;
    margin-top: 20px;
    display: flex;
    flex-flow: column;
}

.activites-title {
    margin: 30px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.activites-cards img {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    aspect-ratio: 1 / 1.3;
}

.activites-cards .card-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.activites .section-title {
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: flex-start;
    background-color: var(--main-bg-color);
    margin-bottom: 0px;
}

.footer-top {
    font-size: 1.125rem;
    font-weight: 600;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Common desktop */

@media (width > 1024px) {

    .hebergements .grid3x2 {
        row-gap: 56px;
    }

    .populaires {
        width: 30%;
    }

    .hebergements .section-title {
        margin: 0px 0px;
    }

    .activites-card .card-title {
        margin-left: 10px;
        margin-bottom: 20px;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */

@media (width <=1024px) {

    .filter-list {
        flex-flow: column;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        margin-right: 30px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        ;
    }

    .populaires .card {
        height: 100%;
    }

    .populaires-header {
        margin-bottom: -15px;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 15px;
    }

    .populaires-cards .card {
        margin: 15px;
    }

    .populaires-cards a {
        margin: 0px;
    }
}

@media (768px <=width <=1024px) {

    .hebergements {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    .hebergements .section-title {
        margin: 20px 0px;
    }

    .populaires-cards {
        display: flex;
    }

    .activites-cards img {
        aspect-ratio: 1 / 1;
    }

    .activites-cards {
        gap: 30px;
    }

    .show-more {
        margin: 30px 0px;
    }
}

/* Larger than phones */

@media (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .logo-header {
        margin: 30px 20px;
        height: 19px;
    }

    header nav {
        padding-top: 0;
        display: flex;
        flex-flow: nowrap;
    }

    header nav a {
        margin: 0px 30px;
        padding-top: 1rem;
        border-top: 0.125rem solid white;
        margin-right: 20px;
        margin-left: 40px;
    }

    header nav a:hover,
    header nav a:active {
        color: var(--main-color);
        border-top: 0.125rem solid var(--main-color);
    }

    /*** Hero, search, filters ***/

    .upper-section {
        margin-left: 20px;
    }

    /**** search section ****/

    .position {
        padding-top: 18px;
        padding-bottom: 17px;
        padding-left: 17px;
        padding-right: 17px;
    }

    input {
        font-size: 1.125rem;
        padding: 14px 14px;
        border: none;
        font-weight: 600;
        border-top: 2px solid var(--main-bg-color);
        border-bottom: 2px solid var(--main-bg-color);
        width: 180px;
    }

    .loupe {
        display: none;
        border-radius: 1rem;
        padding: 1rem;
        background-color: var(--main-color);
    }

    .filter-list {
        display: flex;
        vertical-align: center;
        justify-content: flex-start;
        margin-right: 15px;
    }

    .filter-buttons i {
        padding-left: 4px;
        padding-right: 4px;
    }

    .filter-button {
        display: inline-flex;
        gap: 0.8rem;
        align-items: center;
        border: 2px solid #d9d9d9;
        background-color: white;
        padding: 1rem 1rem;
        font-size: 1rem;
        margin-right: 15px;
        font-weight: 600;
        border-radius: 2.5rem;
    }

    .info {}

    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        box-sizing: border-box;
    }


    /*** hebergements grid ***/

    .grid3x2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }

    .hebergements-cards a {
        margin: 0px 0px;
    }

    /*** populaires section ***/

    /*** activites section ***/

    .activites-cards a {
        width: 100%;
    }


    .card-no-padding {
        background-color: white;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

    .activites-cards .card-title {
        padding-left: 20px;
        margin-bottom: 20px;
    }

    /*** footer section ***/

    footer {
        margin: 0px 16px;
    }

    .footer-column {
        width: 35%;
        margin: 30px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative;
        margin: 0;
    }

    .main-container {
        padding: 0px;
        margin: 0px;
    }

    header {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-bottom: 20px;
    }

    .logo-header {
        margin-top: 30px;
        height: 1.5rem;
        align-self: center;
    }

    header nav {
        display: flex;
        margin-top: 20px;
    }

    header .header-links {
        width: 50%;
        justify-items: center;
        border-bottom: 2px solid #d9d9d9;
        box-sizing: border-box;
        padding: 20px;
    }

    header nav a {
        display: flex;
        justify-items: center;
        justify-content: center;
    }

    header nav .header-links:active,
    header nav .header-links:hover {
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
    }

    section {
        box-sizing: border-box;
    }

    h1 {
        margin-top: 0;
    }

    /*** Hero, search, filters ***/

    .upper-section {
        padding: 10px;
    }

    /*** search section ***/
    .search-section {
        position: relative;
        justify-content: center;
        margin: 30px 0px;
    }

    .position {
        min-width: 1.3rem;
        padding: 19px;
        padding-right: 10px;
    }


    input {

        border-top: 2px solid var(--main-bg-color);
        border-bottom: 2px solid var(--main-bg-color);
        border-left: none;
        border-right: none;
        width: 80%;
        height: 2rem;
        font-size: 1.125rem;
        font-weight: 600;
        padding: 26px;
        padding-left: 1.5rem;
        padding-right: 15px;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .search-text {
        display: none;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background-color: var(--main-color);
        padding: 1rem;
        color: white;
    }

    .loupe {
        font-size: 1rem;
        color: white;
        position: relative;
        right: 15px;
        border-radius: 1rem;
        min-width: 15px;
        padding: 20px;
        background-color: var(--main-color);
        box-shadow: 0px 5px 3px lightgrey;
        margin-right: -15px;
    }

    .loupe:active {
        box-shadow: 0px 2px 3px lightgrey;
    }

    /*** filter section ***/

    .filter-list {
        display: flex;
        vertical-align: center;
        justify-content: flex-start;
    }

    .filter-buttons {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        margin-right: 0px;
    }

    .filter-button {
        display: inline-flex;
        justify-content: start;
        gap: 0.8rem;
        align-items: center;
        border: 2px solid #d9d9d9;
        background-color: white;
        padding: 1rem 0;
        padding-left: 1rem;
        font-weight: 600;
        border-radius: 2.5rem;
    }

    /*** hebergements and populaires section ***/

    .hebergements-and-populaires {
        display: flex;
        flex-flow: column-reverse;
        margin: 0;
    }

    .hebergements-and-populaires .section-title {
        margin-top: 10px;
    }

    /*** hebergements section ***/

    .hebergements {
        margin: auto;
        padding: 20px;
    }

    .hebergements section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
    }

    .hebergements-cards article {
        margin-bottom: 30px;
    }

    .hebergements-cards img {
        aspect-ratio: 3 / 1;
    }

    .hebergements-cards .card-rating {
        margin-bottom: 5px;
    }

    .show-more {
        margin: 10px 0px;
    }

    /*** populaires section ***/

    .populaires {
        background: var(--main-bg-color);
        margin: 0;
    }

    .populaires .section-title {
        margin-bottom: 0px;
    }

    .populaires-header {
        margin-left: 30px;
        padding-top: 10px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 15px;
    }

    .populaires-cards .card {
        margin: 15px 5px;
    }

    /*** activites section ***/

    .card-no-padding {
        background-color: white;
        border-radius: 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

    .card-no-padding img {
        aspect-ratio: 2 / 1;
    }

    .activites {
        margin: 0px;
        padding: 20px;
    }

    .activites-cards {
        flex-flow: column;
        align-items: stretch;
        gap: 15px;
    }

    .activites .section-title {
        margin-left: 5px;
        margin-bottom: 30px;
    }

    .activites-cards .card-title {
        margin: 0px;
        padding: 20px;
    }

    /*** footer section ***/

    footer {
        flex-flow: column;
    }

    .footer-column {
        margin-top: 30px;
        margin-left: 30px;
        width: 100%;
    }
}